---
import Layout from "../layouts/PageLayout.astro";
import Container from "../components/Container.astro";
import Photos from "../components/Photos.astro";
---

<Layout
  title="About Me"
  description="I'm Chris Lloyd-Jones, Sealjay. I live in London"
  pubDateTime={new Date("1 March 2023")}
  updatedDate={new Date("1 March 2023")}
  heroImage="/chris/portrait.jpg"
>
  <div class="max-w-2xl pt-10">
    <h1
      class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl"
    >
      Software engineer, open source & sustainability enthusiast.
    </h1>
    <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
      I&apos;m Chris - or Sealjay; I&apos;m a software engineer, and
      &lsquo;open&rsquo; enthusiast, living in London. I&apos;m the Head of Open
      Innovation at Avanade, deeply embedded in the Open Source community, and a
      passionate advocate for sustainability.
    </p>
    <p class="mt-2 text-sm text-zinc-400 dark:text-zinc-500">
      Microsoft MVP in AI, Green Software Foundation Oversight Committee
      Vice-Chair, Green Software Foundation Open Source Working Group Chair,
      OpenUK Chief Blueprints Officer.
    </p>
  </div>
  <Photos />
</Layout>
