---
import { getCollection } from "astro:content";
import Layout from "../layouts/IndexLayout.astro";
import SocialLinks from "../components/partials/IndexSocialLinks.astro";
import FormattedDate from "../components/partials/FormattedDate.astro";
const posts = (await getCollection("blog")).sort(
  (b, a) => a.data.pubDateTime.valueOf() - b.data.pubDateTime.valueOf()
);
// get the most recent five blog posts only
const recentPosts = posts.slice(0, 5);
---

<Layout
  title="About Me"
  description="I'm Chris Lloyd-Jones, Sealjay. I live in London"
  pubDateTime={new Date("1 March 2023")}
  updatedDate={new Date("1 March 2023")}
  heroImage="/chris/portrait.jpg"
>
  <div class="max-w-2xl pt-10">
    <h1
      class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl"
    >
      Software engineer, open source & sustainability enthusiast.
    </h1>
    <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
      I&apos;m Chris - or Sealjay; I&apos;m a software engineer, and
      &lsquo;open&rsquo; enthusiast, living in London. I&apos;m the Head of Open
      Innovation at Avanade, deeply embedded in the Open Source community, and a
      passionate advocate for sustainability.
    </p>
    <p class="mt-2 text-sm text-zinc-400 dark:text-zinc-500">
      Microsoft MVP in AI, Green Software Foundation Oversight Committee
      Vice-Chair, Green Software Foundation Open Source Working Group Chair,
      OpenUK Chief Blueprints Officer.
    </p>
  </div>
  <SocialLinks />
  <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">Recent blogs:</p>
  <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
    {
      recentPosts.map((post) => (
        <div class="border rounded-md p-4 bg-white shadow-md" key={post.slug}>
          <h2 class="text-lg leading-6 font-medium text-gray-900">
            <a href={`/blog/${post.slug}/`} class="hover:text-indigo-600">
              {post.data.title}
            </a>
          </h2>
          <div class="text-sm text-gray-500">
            <FormattedDate date={post.data.pubDateTime} />
          </div>
        </div>
      ))
    }
  </div>
</Layout>
