---
---

<mode-toggle class="flex">
  <button
    class="justify-self-end bg-neutral-200 dark:bg-neutral-700 ml-3 inline-flex h-6 w-11 items-center rounded-full"
    aria-label="Toggle dark mode"
    ><span class="sr-only">Toggle dark mode</span><span
      ><span
        class="absolute top-0 right-0 w-[10px] h-[10px] rounded-full bg-gray-700 scale-[0]"
      ></span>
    </span>
  </button>
</mode-toggle>

<script>
  function updateHTMLTheme(mode: "light" | "dark") {
    const themeColorMetaTag = document.head.querySelector(
      'meta[name="theme-color"]'
    );

    if (mode === "dark") {
      document.documentElement.classList.remove("light");
      document.documentElement.classList.add("dark");
      if (themeColorMetaTag) {
        // @ts-ignore
        themeColorMetaTag.content = "#0e141b";
      }
    } else {
      document.documentElement.classList.remove("dark");
      document.documentElement.classList.add("light");
      if (themeColorMetaTag) {
        // @ts-ignore
        themeColorMetaTag.content = "#ffffff";
      }
    }
  }
  class ModeToggle extends HTMLElement {
    constructor() {
      super();
      let currentMode: "light" | "dark" =
        document.documentElement.classList.contains("dark") ? "dark" : "light";

      const toggle = this.querySelector("button");
      const iconElem = toggle?.querySelector("#mode-circle");

      if (iconElem) {
        // set the toggle mode based on the html classname set in ThemeScript.astro
        if (currentMode === "dark") {
          iconElem.classList.remove("light");
          iconElem.classList.add("dark");
        }

        // we load the toggle invisible to prevent flash
        // remove visibility class after setting initial dark/light class
        iconElem.classList.remove("invisible");

        // Each time the button is clicked, update the count.
        toggle?.addEventListener("click", () => {
          if (currentMode === "dark") {
            const modeToSwitch = "light";
            iconElem.classList.remove("dark");
            iconElem.classList.add("light");
            updateHTMLTheme(modeToSwitch);
            currentMode = modeToSwitch;
          } else {
            const modeToSwitch = "dark";
            iconElem.classList.remove("light");
            iconElem.classList.add("dark");
            updateHTMLTheme(modeToSwitch);
            currentMode = modeToSwitch;
          }

          // prevent slide animation on page load for dark mode
          if (!iconElem.classList.contains("duration-300")) {
            iconElem.classList.add("duration-300");
          }
        });
      }
    }
  }

  customElements.define("mode-toggle", ModeToggle);
</script>
