---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  href={href}
  class:list={[
    "relative block px-2 py-2 sm:px-3 transition-all duration-200 focus:outline-none focus:ring-2 focus:ring-accent-500/50 rounded-md",
    { "text-accent-600 dark:text-accent-400 font-medium": isActive },
    { "hover:text-accent-600 dark:hover:text-accent-400": !isActive },
  ]}
  aria-current={isActive ? "page" : undefined}
>
  <slot />
  {isActive && (
    <span class="absolute inset-x-1 -bottom-px h-px bg-gradient-to-r from-accent-500/0 via-accent-500/60 to-accent-500/0 dark:from-accent-400/0 dark:via-accent-400/60 dark:to-accent-400/0"></span>
  )}
</a>
