---
import { SITE_NAV } from "../../consts";
import Container from "../containers/Container.astro";
import HeaderLink from "./HeaderLink.astro";
const { pathname } = Astro.url;
---

<header class="relative flex flex-col mt-3 sm:mt-2">
  <div class="top-0">
    <Container>
      <div class="relative flex gap-4">
        <div class="flex flex-1">
          <a href="/" aria-label="Home" class="pointer-events-auto">
            <img
              src="/chris/avatar.jpg"
              alt=""
              id="avatarImg"
              sizes="2.25rem"
              class="rounded-full bg-zinc-100 object-cover dark:bg-zinc-800 h-9 w-9"
              )}
            />
          </a>
        </div>
        <div class="flex flex-1 justify-end md:justify-center">
          <ul
            class="flex rounded-full bg-white/90 px-3 text-sm font-medium text-zinc-800 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:text-zinc-200 dark:ring-white/10 gap-4"
          >
            <li><HeaderLink href="/">Home</HeaderLink></li>
            <li><HeaderLink href="/about">About</HeaderLink></li>
            <li><HeaderLink href="/blog">Blog</HeaderLink></li>
            <li><HeaderLink href="/speaking">Speaking</HeaderLink></li>
          </ul>
        </div>
        <div class="flex justify-end md:flex-1">
          <div class="pointer-events-auto"></div>
        </div>
      </div>
    </Container>
  </div>
</header>
