---
import Layout from "../../layouts/PageLayout.astro";
import Container from "../../components/Container.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (b, a) => a.data.pubDateTime.valueOf() - b.data.pubDateTime.valueOf()
);
---

<Layout
  title="Blog posts"
  description="I speak at events, share my insights and learn from others."
  pubDateTime={new Date("1 March 2023")}
  updatedDate={new Date("4 March 2023")}
  heroImage="/placeholder-hero.png"
>
  <h1
    class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl"
  >
    Some of my writing
  </h1>
  <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
    I'm passionate about open-source, green software, and Microsoft AI: you can
    find blog posts I've written on these topics below - along with other random
    topics mixed in.
  </p>
  <p class="mt-2 text-sm text-zinc-400 dark:text-zinc-500">
    You can also find some of my presentations, youtube videos, and podcasts on
    the <a href="/speaking">speaking page</a>.
  </p>
  <p></p>
  <ul>
    {
      posts.map((post) => (
        <li>
          <FormattedDate date={post.data.pubDateTime} />
          <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
