---
const { title } = Astro.props;
---

<div class="border-zinc-100 pl-0 pb-3 md:border-l md:pl-4 md:pb-0 md:dark:border-zinc-700/40">
    <div class="grid max-w-3xl grid-cols-1 items-baseline gap-y-3 md:gap-y-5 md:grid-cols-4">
        <h2 class="text-sm font-semibold text-zinc-800 mb-1 md:mb-0 dark:text-zinc-100">
            {title}
        </h2>
        <div class="md:col-span-3"><slot /></div>
    </div>
</div>
