---
export interface Props {
  icon: string;
  href: string;
  class?: string;
}

import {
  GitHubIcon,
  LinkedInIcon,
  TwitterIcon,
  MailIcon,
} from "./SocialIcons.jsx";

const { href, icon, class: className, ...props } = Astro.props;
---

<li class:list={[className, "flex"]}>
  <a
    href={href}
    class="group flex text-sm font-medium text-zinc-800 transition hover:text-teal-500 dark:text-zinc-200 dark:hover:text-teal-500"
    {...props}
  >
    <GitHubIcon
      class="h-6 w-6 flex-none fill-zinc-500 transition group-hover:fill-teal-500"
    />
    <span class="ml-4"><slot /></span>
  </a>
</li>
